body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;

}

input{
    display: block;
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
}

#input-btn{
    background-color: #5f9341;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    margin-top: 1%;
    border: none;
    font-weight: bold;
}

ul{
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}

li{
    margin-top: 5px;
    

}

li a{
    color: #5f9341;
    

}